/*\
|*|---------------------------------------- Zone de conversion
\*/

$heightRow: 40px;

#container {
	position: absolute;
    height: auto;
	top: 52px; left: 250px; bottom: 0; right: 0;
	overflow: auto; overflow-x: auto;
	@include f_transition();
	@media screen and (max-width: $permut) {
		left: 50px;
	}
}

[id^="mesure_"] {
	width: 100%;
	background-color: $menuColor;
	
}

[id^="mesure_"] .calcul {
	height: $heightRow;
	font-size: 16px;
	line-height: $heightRow;
}

[id^="mesure_"] .unit {
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    width: calc(100% - 90px);
    display: inline-block;
    vertical-align: middle;
}

[id^="mesure_"] .firstArea, [id^="mesure_"] .SecondArea {
	display: inline-block;
	width: calc(50% - 12px);
	white-space: normal;
	margin-left: 9px;
}

[id^="mesure_"] .calcul [class^="btn"] {
	height: 100%; width: 30px;
	text-align: center;
	float: right;
	cursor: pointer;
}

[id^="mesure_"] .calcul .btnDescription:hover {
	background-color: $delimiter;
}

[id^="mesure_"] .calcul .value {
	width: calc(100% - 110px);
	height: 100%;
	border: none;
	outline: none;
	text-align: right;
	background-color: transparent;
	font-size: 16px;
	color: $fontColor;
}

[id^="mesure_"] .abrege {
	color: $fontColor;
	font-style: italic;
}

[id^="mesure_"] .detail {
	display: none;
	padding: 10px;
	background-color: $bgColor;
}

[id^="mesure_"] .formule, [id^="mesure_"] .filtre {
	min-width: calc(50% - 6.5px);
}

[id^="mesure_"] .formule, [id^="mesure_"] .filtre , [id^="mesure_"] .description, [id^="mesure_"] .variable {
	display: inline-table;
	height: 30px;
	line-height: 30px;
	border: $borderPx solid $stripedColor;
	border-radius: $borderRad;
	margin: 2px 0;
}

[id^="mesure_"] .formule span, [id^="mesure_"] .description span, [id^="mesure_"] .filtre > span:first-child, [id^="mesure_"] .variable > span:first-child {
	background-color: $stripedColor;
	display: inline-table;
	width: 100px;
	text-align: center;
}

[id^="mesure_"] .filtreObj {
	display: inline-block;
	padding: 0 5px;
	text-align: center;
	border-right: $borderPx solid $stripedColor;
	text-overflow: ellipsis;
    white-space: nowrap;
}

[id^="mesure_"] .inputObj {
	display:inline-block;
}

[id^="mesure_"] .inputObj button {
	height: 28px;
}

[id^="mesure_"] .variable input {
	width: 80px;
	vertical-align: middle;
}

[id^="mesure_"].striped {
	background-color: $stripedColor;
}

.romainFlag {
	margin-top: 8px;
}